<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : image_path('https://ducunl0s4svtl.cloudfront.net/wp-content/uploads/2017/10/flat-clapperboard-icon_1063-38.jpg') %>)">
  <div class="container">
    <h1><%= @list.name %></h1>
  </div>
</div>
<div class="container mt-3 mb-3">
  <p>Movies:</p>
  <div class="row">
    <div class="col-9">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card-product mb-3">
          <%= image_tag bookmark.movie.poster_url, width: 200 %>
          <div class="card-product-infos">
            <h2><%= bookmark.movie.title %></h2>
            <p>"<%= bookmark.comment %>" <%= link_to bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Delete bookmark?" } do %>
                <i class="fa-solid fa-delete-left"></i>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-3">
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.input :comment %>
        <%= f.association :movie %>
        <%= f.submit "Add Movie", class: 'btn btn-warning' %>
      <% end %>
    </div>
  </div>
  <%= link_to "Back to home", lists_path, class: 'btn btn-warning text-decoration-none mt-3' %>
</div>
