<div class="container mt-3">
  <h1><%= @list.name %></h1>
  <p>Bookmarks:
    <ul>
      <% @list.bookmarks.each do |bookmark| %>
        <li><%= "#{bookmark.comment} - #{bookmark.movie.title}" %> <%= link_to "--DELETE--", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Delete bookmark?" } %></li>
      <% end %>
    </ul>
  </p>
  <%= link_to "Add a bookmark", new_list_bookmark_path(@list), class: 'btn btn-secondary text-decoration-none mt-3' %>
  <%= link_to "Back to home", lists_path, class: 'btn btn-secondary text-decoration-none mt-3' %>
</div>
